.old {
	font-weight: bold;
}
.FO{
	
	
	
}
.textima {
	font-weight: bold;
}

.avesettings {
	background-image: url('../resources/images/logo_small.png');
	cursor: pointer;
	width: 126px;
	height: 41px;
	border: none;
}
.panelheadertext{
	font-family: times;
	font-size: 15px;
	font-weight: bold;
	position:relative;
	left:600px;
}
